<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

{{ $dir := string (.Get "gallery_dir") }}
{{ $title := (or (.Get "show_title") "false") }}
<ul class="image-gallery">
{{ if fileExists (printf "assets/%s" $dir)}}
{{ range readDir (printf "assets/%s" $dir) }}
  {{ if ne .Name ".gitkeep" }}
  {{- $image := resources.Get (printf "%s/%s" $dir .Name) -}}
  {{- $imageurl := printf "%s/%s" $dir .Name -}}
  {{- $imagetitle := index (split .Name ".") 0 -}}
  {{- with $image }}
    <li>
      <a href="{{ (.Fit "1600x1600").Permalink }}" title="{{ $imagetitle }}" class="lightbox-image">
        <img src="{{ (.Resize "x300").Permalink }}" alt="{{ $imagetitle }}" title="{{ $imagetitle }}">
        {{- if (eq $title "true") }}
        <span>{{ $imagetitle }}</span>
        {{- end }}
      </a>
    </li>
  {{- end -}}
{{ end }}
{{- end }}
{{- end }}
</ul>
